.container {

  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    padding: 0 36px;

    .hero-wrapper {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }

    .card-wrapper {
      display: flex;
      gap: 0 18px;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 0 auto;
    }
  }

}